<h1 class="container text-center mb-5 pt-5">List of restaurants</h1>

<div class="">
    <div class="container">
      <div class="row">
  <ul class="text-center list-unstyled">
    <% @restaurants.each do |restaurant| %>
        <div class="bg-primary  col-sm">
        <li>
          <%= link_to restaurant_path(restaurant) do  %>
            <h2 class="text-white"><%= restaurant.name %></h2>
            <h3 class="text-white"><%= restaurant.category %></h3>
            <p class="text-white"><%= restaurant.address %></p>
            <p class="text-white"><%= restaurant.phone_number %></p>
            <p class="text-white"><%= restaurant.category %></p>
          <% end %>
        </li>
        </div>
    <% end %>
  </ul>
      </div>
    </div>
</div>

<p class="text-center"><%= link_to "Create a new restaurant my friend", new_restaurant_path, class: "btn btn-primary"%></p>
